/* Footer Container */
.footer-container {
  background-color: #ffffff;
  padding: 30px 0px;
  margin: 80px 0px 0px 0px;
  color: #333;
  font-family: 'Inter', Arial, sans-serif;
  border-top: 1px solid #ccc;
}
.sectionContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}
.logo {
  margin: 0 0 10px;
}
.linkList {
  list-style: none;
  padding: 0;
  line-height: 1.8;
}
.socialIcons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.footerBottom {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  paddingTop: 10px;
  display: flex;
  justify-content: space-between;
  color: #666;
}
.hyper {
  color: #4629EF;
  text-decoration: none;
}
/*Tools List Styles*/
.tools ul {
  list-style: none; /* Remove list dots */
  padding: 0;
}

.tools ul a {
  text-decoration: none;
  color: #555; /* Consistent text color for links */
  font-size: 0.95rem;
}
.tools ul a:hover {
  color: #4629ef;
}

.socialIcons a{
     display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #555; /* Consistent text color */
    background-color: #e0e0e0; /* Light gray button background */
    padding: 8px 10px; /* Consistent padding */
    border-radius: 50%; /* Circular buttons */
    font-size: 1.2rem; /* Icon size */
    transition: background-color 0.2s ease;
    width: 30px;
    height: 30px;
}
.socialIcons a:hover {
      background-color: #ddd; /* Slightly darker gray on hover */
  }
.tools-list {
  list-style: none;
  padding: 0;
}
